<%- content_for :title do -%>Models<%- end -%>

<SCRIPT LANGUAGE="JavaScript">

function Check(){
	chk = document.getElementsByName('model[country_ids][]')
	
	if(document.model_edit.Check_all.checked==true){
		for (i = 0; i < chk.length; i++)
		chk[i].checked = true ;
	}else{
		for (i = 0; i < chk.length; i++)
		chk[i].checked = false ;
	}
}

</script>


<div class="action_name"><h2>Editing — <%=h @model.name %></h2>
	<div class="actions">
		<%= link_to 'Show', @model %> |
		<%= link_to 'Back', models_path %> |
		<%= link_to 'Destroy', @model, :confirm => 'Are you sure?', :method => :delete %>
	</div>
</div>

<% form_for(@model,:html => {:name => "model_edit"}) do |f| %>
  <%= f.error_messages %>
	<div class="block_full_width">
		<h3><%= f.label :name %> of model</h3>
		<div class="separator"></div>
		<div class="container">
			<%= f.text_field :name %>
		</div>
	</div>
	<div class="block_full_width">
		<h3>Up to year</h3>
		<div class="separator"></div>
		<div class="container">
			<%= f.text_field :year %>
		</div>
	</div>
	<div class="block_full_width">
		<h3><%= f.label :description %> of model</h3>
		<div class="separator"></div>
		<div class="container">
			<%= f.text_area :description %>
		</div>
	</div>
	<div class="block_full_width">
		<h3><%= f.label :formula %></h3>
		<div class="separator"></div>
		<div class="container">
			<table class="block">
				<tr>
					<td class="half"><%= f.text_area :formula %></td>
					<td class="half">
						<h3>Syntax</h3>
						<p>You can use Ruby syntax. Short names of all properties available as variables. New values of variables calculates for next year based on result of previous year.</p>
						<h3>Example</h3>
						<p>
						<code>"population" => population * (1 + population_growth_rate/100),<br />"gdp_ppp" => gdp_ppp + gdp_ppp*0.05</code>
						</p>		
						
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="block_full_width">
		<h3>Which data to store after model calculation</h3>
		<div class="separator"></div>
		<div class="container">
			<div class="checkboxes">
			<% @known_values.each do |known_value| %>
			<div>
			    <%= check_box_tag "model[known_value_ids][]", 
			        known_value.id, @model.known_values.include?(known_value) %>
			    <%= known_value.name %>
			</div>
			<% end %>
			</div>
		</div>
	</div>
	<div class="block_full_width">
		<h3>Which countries will be used in model calculation</h3>
		<div class="separator"></div>
		<div class="container">
			<div class="checkboxes">
				<div class="groups">
					<input type="checkbox" name="Check_all" value="yes" onClick="Check()"> Check all
				</div>
			</div>
			<div class="separator"></div>
			<div class="checkboxes">
			<% @countries.each do |country| %>
			<div>
			    <%= check_box_tag "model[country_ids][]", 
			        country.id, @model.countries.include?(country) %>
			    <%= country.name %>
			</div>
			<% end %>
			</div>
		</div>
	</div>


  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>