<div class="action_name"><h2>Editing — <%=h @country.name %></h2>
	<div class="actions">
		<%= link_to 'Show', @country %> |
		<%= link_to 'Back', countries_path %>
	</div>
</div>
<% form_for(@country) do |f| %>
  <%= f.error_messages %>
	<div class="block_full_width">
		<h3><%= f.label :name %> of country</h3>
		<div class="separator"></div>
		<div class="container">
			<%= f.text_field :name %>
		</div>
	</div>
	<div class="block_full_width">
		<h3>ISO name of country (2-symbol code)</h3>
		<div class="separator"></div>
		<div class="container">
			<%= f.text_field :name_ammap %>
		</div>
	</div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

